body {
  font: 22px "Century Gothic", sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

p {  
  display: block;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.board {
  display: flex;
  flex-direction: row;
  width: 16.5em;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #001BFF;
}

.button-container {
  margin-left: 1em;
}

.game {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

.scores-container {
  text-align: center;
}

.create-button {
  margin-right: 5px;
  width: 4.5em;
  height: 2.0em;
}

.join-button {
  width: 4.5em;
  height: 2.0em;
}

.input-class{
  margin-top: -0.1em;
}

.title-class {
  font-size: 1.5rem; 
}

.popup-class{
  height: 165px; 
}

.join-button-class {
  margin: .3125em; 
  padding: .5em 1.8em; 
  margin-bottom: 1em; 
}

.button-class {
  margin: .3125em; 
  padding: .5em 1.8em; 
}

.svg-wrapper {
  width: 350px;
  height: 350px;
  display: block;
}

.rpsls-text {
  text-align: center;
}

.rpsls-text-host {
  color: #FF2D00;
}
.rpsls-text-guest {
  color: #001BFF;
}
